@font-face {
    font-family: "Montserrat";
    src: url(Fonts/Montserrat-VariableFont_wght.ttf)
}

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


header {
    background-color: #0ea5e9;
    min-height: 5rem;
    display: flex;
    padding: 0 1rem;
    justify-content: start;
    align-items: center;
}

h1 {
    color: #FFFFFF;
}

main {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    flex: 1;
}

.cards {
    padding: 1rem 0;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fee2e2;
    padding: 1rem;
    border-radius: 0.5rem;
}

.card.have-read {
    background-color: #dcfce7;
}

.title {
    padding-bottom: 0.5rem;
    text-align: center;
}

.description {
    list-style-type: none;
}


.description li {
    padding-bottom: 0.25rem;
}

.add-btn,
.add-book-form button {
    font-size: 1rem;
    padding: 0.5rem 0.75rem;
    border-radius: 1rem;
    border-style: none;
    background-color: #0ea5e9;
    color: #FFFFFF;
    font-weight: 600;
}

.add-book-form {
    display: none;
    flex-direction: column;
    width: 250px;
    padding: 1rem;
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    border-radius: 0.5rem;
    background-color: #FFFFFF;
    transform: translate(-50%, -50%) scale(1);
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.add-book-form label {
    margin-bottom: 0.25rem;
    font-size: 1rem;
}

.add-book-form input {
    margin-bottom: 0.5rem;
    border-radius: 3px;
    border-color: #E5E7EB;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    font-size: 1rem;
    padding: 0.125rem 0.5rem;
}

#read {
    margin-bottom: 0.125rem;
}

.add-book-form button {
    margin-top: 1rem;
    align-self: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay.active {
    display: block;
}

.add-book-form.active {
    display: flex;
}

.add-book-form p {
    align-self: center;
    margin-bottom: 0.75rem;
    font-size: 1.25rem;
    font-weight: 600;
}

.required-msg {
    display: none;
}

.required-msg.active {
    display: block;
    color: #ff0000;
    font-size: 0.75rem;
    font-weight: 300;
    align-self: start;
}

.remove-btn,
.read-btn {
    margin-top: 1rem;
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 1rem;
    border-style: none;
    color: #FFFFFF;
    font-weight: 600;
}

.remove-btn {
    background-color: #ef4444;
}

.read-btn {
    background-color: #64748b;
}

footer {
    background-color: #64748b;
    display: flex;
    min-height: 3rem;
    justify-content: center;
    align-items: center;
}

.copyright {
    color: #FFFFFF;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}